*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    justify-content: center;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 0 30px 30px 30px;
}

/* -------------------
    header style start
---------------------*/
header{
    background-color: #562EF7;
    display: flex;
    justify-content: center;
    height: 94px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 870px;
}

.icon img{
    width: 40px;
    height: 51px;
}

.logo-area{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.menu-area{
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.menu-area a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
/* -------------------
    header style ends
---------------------*/

/* ----------------------
    main section starts
------------------------*/

/* top-players section */

.section-title{
    color: #562EFF;
    font-weight: 600;
    font-size: 24px;
    margin: 33px 0 41px 0;
}

.top-players{
    margin-bottom: 30px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 29px;
    column-gap: 84px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
    font-weight: 600;
    font-size: 18px;
}

hr{
    border: 1px solid #D1D1D1;
}

/* top-blog section */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 84px;
    row-gap: 30px;
}

.blog{
    display: flex;
    column-gap: 16px;
    width: 360px;
}

.blog .thumbnail img{
    width: 177px;
    height: 117px;
}

.blog-info{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.blog-title{
    font-weight: 600;
    font-size: 20px;
}

.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}

.blog-author a{
    color: #562EFF;
    text-decoration: none;
}