*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

header{
    background-color: #562EF7;
    display: flex;
    justify-content: center;
    height: 94px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 870px;
}

.icon img{
    width: 40px;
    height: 51px;
}

.logo-area{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.menu-area{
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.menu-area a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}