*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    justify-content: center;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

/* -------------------
    header style start
---------------------*/
header{
    background-color: #562EF7;
    display: flex;
    justify-content: center;
    height: 94px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 870px;
}

.icon img{
    width: 40px;
    height: 51px;
}

.logo-area{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.menu-area{
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.menu-area a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
/* -------------------
    header style ends
---------------------*/

/* ----------------------
    main section starts
------------------------*/

/* top-players section */

.section-title{
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 41px 0;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 29px;
    column-gap: 84px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
}

